* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(241, 234, 223);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    font-size: 15px;
}

.container {
    /* background-color: aquamarine; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 20px;
    display: flex;
    justify-content: ;

}

.text-deco {
    color: rgb(234, 140, 40);
    ;
}

ul {
    margin-left: 14px;
}

/* hero section */

.hero-section {
    display: flex;
    width: 100%;
    /* background-color: rgb(61, 79, 79); */
    justify-content: space-between;
    margin-top: 20px;
}

.container img {
    border-radius: 20px;
    width: 500px;
    height: 500px;
}

.container .introduction {
    /* max-width: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aqua; */
    margin-right: 50px;
}

.container .introduction h1 {
    font-size: 40px;
    margin-bottom: 5px;
}


.container .hero-section .introduction .cinzel {
    font-size: 20px;
    font-family: "cinzel decorative", serif;
}



.container .hero-section .introduction p {}

/* preperations tips section */

.content-container {
    /* max-width: 500px; */
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgb(236, 217, 196);
    opacity: ;
    padding: 20px;
    border-radius: 20px;
}

.preperation-tips-container {}

.direction-container {
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: start;
}

.container .content-container h2 {
    margin-bottom: 10px;
}

.container li {
    margin-bottom: 5px;
}

/* ingredients section */

.ingredients-section {
    max-width: 500px;
    border-radius: 20px;
    /* background-color: rgb(131, 36, 36); */
    padding: 0px 20px;
}

.ingredients-section h2 {
    margin-bottom: 10px;
}

.ingredients-section p {
    margin-bottom: 15px;
}

.ingredients-section h4 {
    margin-bottom: 10px;
}

.ingredients-section ul {
    margin-bottom: 10px;
}

/* preperation time section */

.preperation-time-container {
    /* padding: 0px 20px; */
}

/* cooking instructions section */
.cooking-instructions {
    max-width: 500px;
    border-radius: 20px;
    /* background-color: rgb(131, 36, 36); */
    padding: 0px 20px;
}

.cooking-instructions h2 {
    margin-bottom: 10px;
}

.container .cooking-instructions p {
    margin-bottom: 10px;
    line-height:1.3;
}
.cooking-instructions li{
    line-height:1.3;
}

/* origin of jollof rice section */
.origin {
    /* padding: 0px 20px; */
}

.container .origin {
    max-width: 500px;
}

.container .origin h2 {
    margin-bottom: 10px;
}

.container .origin p {
    line-height: 1.3;
    margin-bottom: 10px;
}

/* nutritional value section */

.nutritional-value {
    /* max-width: 500px; */
    width: 100%;
    border-radius: 20px;
    /* background-color: rgb(131, 36, 36); */
    padding: 0px 20px;
}

.nutritional-value h2 {
    margin-bottom: 10px;
}

.nutritional-value p {
    margin: 5px 10px;

}

table {
    /* border: 1px solid black; */
    width: 100%;
    /* background-color: aqua; */
    border-collapse: collapse;
   
}

tr {
    border-bottom: 3px solid rgb(234, 140, 40);

}

td {

    padding: 10px;

    /* border: 1px solid; */
}

td:nth-child(2) {
    padding-left: 400px;
}

tr:last-child {
    border-bottom: none; 
}

.footer{
    display: flex;
    justify-content: center;
}
.footer h3{
    font-family:"cinzel decorative", serif ;
    text-align: center;
}

/* RESPONSSSSSSIVNESS */


@media(max-width:768px) {
    .hero-section {
        flex-direction: column;
    }

    .container img {
        margin-top: 20px;
        border-radius: 20px;
        width: 400px;
        height: 400px;
    }

    .nutritional-value{
        /* background-color: aquamarine; */
        min-width: 300px;
    
    }
    table{
        /* background-color: blueviolet; */
        min-width: 300px;
        /* width:10px; */

    }
    td:nth-child(2) {
        padding-left: 150px;
    }
}